

# For Loop

The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects.
    
Iterating over a sequence is called traversal.
 The for loop is often more concise than a while loop when iterating through a known set of items. The basic syntax of a for loop is as follows:![forLoop.jpg]()

In [ ]:
# Syntax

for i in iterable:
    # Code to be executed for each iteration
    # ...

1. for: Keyword indicating the start of the loop.
2. variable: A variable that takes on the value of each item in the iterable during each iteration.
3. in: Keyword used to specify the iterable.
4. iterable: The sequence or iterable object being looped over.
5. : Colon, indicating the start of the indented code block that will be executed for each iteration.

In [ ]:
fruits = ["apple", "banana", "cherry"]

for i in fruits:
    print(i)

apple
banana
cherry

# Range Function

We can generate a sequence of numbers using range() function. range(10) will generate numbers from 0 to 9 (10 numbers).

We can also define the start, stop and step size as range(start,stop,step size). step size defaults to 1 if not provided.

This function does not store all the values in memory, it would be inefficient. So it remembers the start, stop, step size and generates the next number on the go.

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
#print range of numbers from 1 to 20 with step size of 2
for i in range(0, 20, 5):
    print(i)

0
5
10
15

In [ ]:
fruits = ["apple", "banana", "cherry"]

for i in fruits:
    print(i)

apple
banana
cherry

In [ ]:
len(fruits)

3

In [ ]:
for index in range(len(fruits)):
    print(index)
    print(fruits[index])

0
apple
1
banana
2
cherry

In [ ]:
# Enumerate Function

fruits = ["apple", "banana", "cherry"]

for index, value in enumerate(fruits):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: cherry

In [ ]:
# For Loop with strings

greeting = "Hello"

for letter in greeting:
    print(letter)

H
e
l
l
o

# Else in for loop

1. else in a for loop:
The else block in a for loop is executed when the loop has exhausted all the items in the iterable (i.e., the loop completes without encountering a break statement). The else block is optional and runs only if the loop exits normally, not if it's terminated by a break.

In [ ]:
# Syntax
for variable in iterable:
    # Code to be executed for each iteration
    # ...
else:
    # Code to be executed when the loop has iterated through all items
    # ...

In [ ]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)
else:
    print("No more fruits to iterate.")

apple
banana
cherry
No more fruits to iterate.

2. elif in a for loop:
elif is used to introduce additional conditions within a for loop. It's a combination of "else" and "if". The elif block is executed if the preceding if statement is false, and its condition is true.

In [ ]:
# Syntax
# Indendation matters.

for variable in iterable:
    if condition:
        # Code to be executed if the condition is true
        # ...
    elif another_condition:
        # Code to be executed if the another_condition is true
        # ...
    else:
        # Code to be executed if no conditions are true
        # ...

In [ ]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num % 2 == 0:
        print(f"{num} is even.")
    else:
        print(f"{num} is odd.")

1 is odd.
2 is even.
3 is odd.
4 is even.
5 is odd.

In [ ]:
# Example code with a more complex for loop and nested if-else statements

# Assume a list of dictionaries representing students and their grades
students = [
    {"name": "Alice", "percentage": 85},
    {"name": "Bob", "percentage": 92},
    {"name": "Charlie", "percentage": 78},
    {"name": "David", "percentage": 95},
    {"name": "Eva", "percentage": 88}
]

# Loop through each student dictionary in the list
for student in students:
    # Extract student information
    name = student["name"]
    percentage = student["percentage"]

    # Determine the grade category
    if percentage >= 90:
        category = "Excellent"
    elif 80 <= percentage < 90:
        category = "Good"
    elif 70 <= percentage < 80:
        category = "Average"
    else:
        category = "Below Average"

    # Print the student's information along with their grade category
    print(f"{name}'s percentage is {percentage}. Category: {category}")

Alice's percentage is 85. Category: Good
Bob's percentage is 92. Category: Excellent
Charlie's percentage is 78. Category: Average
David's percentage is 95. Category: Excellent
Eva's percentage is 88. Category: Good

In [ ]:
# Displaying prime numbers between 2 given numbers

start_range = 20
end_range = 50

print("Prime numbers between {0} and {1} are:".format(start_range, end_range))

for num in range(start_range, end_range + 1):  # Default step size is 1
    if num > 1:
        is_prime = True
        for divisor in range(2, num):
            if num % divisor == 0:
                is_prime = False
                break
        if is_prime:
            print(num)

Prime numbers between 20 and 50 are:
23
29
31
37
41
43
47