# Built-in Functions

# len()

In [ ]:
my_list = [1, 2, 3, 4]
print(len(my_list))  # Outputs: 4

4

In [ ]:
my_list = (1, 2, 3, 4, 5)
print(len(my_list))  # Outputs: 4

5

# abs()

In [ ]:
number = -5
print(abs(number))  # Outputs: 5

5

In [ ]:
number = 10
print(abs(number))  # Outputs: 5

10

# all()

1. return value of all() function

2. True: if all elements in an iterable are true

3. False: if any element in an iterable is false

In [ ]:
lst = [1, 2, 3, 4]
print(all(lst))

True

In [ ]:
tuple1 = (0, 2, 3, 4)    # 0 present in tuple
print(all(tuple1))

False

In [ ]:
tuple1 = (1, -2, 0, 4)    # 0 present in tuple
print(all(tuple1))

False

In [ ]:
lst = []              #empty list always true
print(all(lst))

True

In [ ]:
tuple1 = ()            #empty list always true
print(all(tuple1))

True

In [ ]:
tuple1 = {}            #empty list always true
print(all(tuple1))

True

In [ ]:
lst = [1, 0, 3, 4, "Hello", 2.5, {"Name": "Balaji"}]
print(all(lst))

False

In [ ]:
lst = [False, 1, 2, True, False]   #False present in a list so all(lst) is False
print(all(lst))

False

In [ ]:
tuple1 = (1,2,3,4,5,6)
max(tuple1)

6

In [ ]:
min(tuple1)

1

# divmod()

Takes 2 numbers and returns a pair of numbers as tuple consisting their qotient and remainder.

In [ ]:
divmod(10,2)

(5, 0)

In [ ]:
divmod(10,'2')

TypeError: unsupported operand type(s) for divmod(): 'int' and 'str'

# enumerate()

1. Returns tuple of 2 elements.
2. The enumerate () method adds a counter to an iterable and returns it in the form of an enumerating object.
3. Syntax: enumerate(iterable, start=0)
4. Default start = 0

In [ ]:
numbers = [10, 20, 30, 40]

for index, num in enumerate(numbers):
    print("index {0} has value {1}".format(index, num))

index 0 has value 10
index 1 has value 20
index 2 has value 30
index 3 has value 40

In [ ]:
numbers = [10, 20, 30, 40]

for index, num in enumerate(numbers, 24):
    print("index {0} has value {1}".format(index, num))

index 24 has value 10
index 25 has value 20
index 26 has value 30
index 27 has value 40

In [ ]:
string = "Balaji is great teacher"
print(list(enumerate(string, 5)))

[(5, 'B'), (6, 'a'), (7, 'l'), (8, 'a'), (9, 'j'), (10, 'i'), (11, ' '), (12, 'i'), (13, 's'), (14, ' '), (15, 'g'), (16, 'r'), (17, 'e'), (18, 'a'), (19, 't'), (20, ' '), (21, 't'), (22, 'e'), (23, 'a'), (24, 'c'), (25, 'h'), (26, 'e'), (27, 'r')]

In [ ]:
for index, num in enumerate(string,0):
    print("index {0} has value {1}".format(index, num))

index 0 has value B
index 1 has value a
index 2 has value l
index 3 has value a
index 4 has value j
index 5 has value i
index 6 has value
index 7 has value i
index 8 has value s
index 9 has value
index 10 has value g
index 11 has value r
index 12 has value e
index 13 has value a
index 14 has value t
index 15 has value
index 16 has value t
index 17 has value e
index 18 has value a
index 19 has value c
index 20 has value h
index 21 has value e
index 22 has value r

# filter()

1. The filter() method constructs an iterator from elements of an iterable for which a function returns true.
2. syntax: filter(function, iterable)
3. Accepts 2 parameters
4. Filter fucntion returns true or false which is boolean.

In [ ]:
def find_positive_number(num):
    """
    This function returns the positive number if num is positive
    """
    if num > 0:
        return num*2

In [ ]:
number_list = range(-10, 10) #create a list with numbers from -10 to 10
print(list(number_list))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
positive_num_lst = list(filter(find_positive_number, number_list))
print(positive_num_lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
final = []
for i in number_list:
    if i>0:
        final.append(i)
print(final)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# map()
1. Map applies a function to all the items in an input_list.
2. syntax: map(function_to_apply, list_of_inputs)

In [ ]:
numbers = [1, 2, 3, 4]

#normal method of computing num^2 for each element in the list.
squared = []
for num in numbers:
    squared.append(num ** 2)

print(squared)

[1, 4, 9, 16]

In [ ]:
numbers = [1, 2, 3, 4]

def powerOfTwo(num):
    return num ** 2

#using map() function
squared = list(map(powerOfTwo, numbers))
print(squared)

[1, 4, 9, 16]

In [ ]:
numbers = (1, 2, 3, 4)

def powerOfTwo(num):
    return num ** 2

#using map() function
squared = list(map(powerOfTwo, numbers))
print(squared)

[1, 4, 9, 16]

# reduce()

1. reduce() function is for performing some computation on a list and returning the result.

2. It applies a rolling computation to sequential pairs of values in a list.

In [ ]:
#product of elemnts in a list
product = 1
lst = [1, 2, 3, 4]

# traditional program without reduce()
for num in lst:
    product *= num
print(product)

24

In [ ]:
# In python 2 it used to be inbuilt function.
# In python 3 we have to import it.
from functools import reduce

def multiply(x,y):
    return x*y;

product = reduce(multiply, lst)
print(product)

24

# isinstance()

In [ ]:
# syntax: isinstance(object, classinfo)

In [ ]:
lst = [1, 2, 3, 4]
print(isinstance(lst, list))

True

In [ ]:
#try with other datatypes tuple, set
t = (1,2,3,4)
print(isinstance(t, list))

False

# User-Defined Functions

## Advantages -

1. Modularity
2. Code Reusability
3. Simplifies Code
4. Ease of Maintenance
5. Debugging Advantage
6. Parameter Passing
7. Encapsulation
8. Reduction of Errors
9. Enhanced Collaboration
10. Customization and Extension
11. Performance Optimization

In [ ]:
def greet(name):
    return f"Hello, {name}!"

print(greet("Alice"))  # Outputs: Hello, Alice!

Hello, Alice!

In [ ]:
print(greet("Balaji"))

Hello, Balaji!

In [ ]:
def add(a, b):
    return a + b

print(add(3, 4))  # Outputs: 7

7