# Data Types

1. Python is a dynamically typed language, meaning that you don't have to explicitly declare the data type of a variable.
2. The interpreter infers the type based on the value assigned to the variable.
3. However, Python has several built-in data types. Here are some of the commonly used ones:
        a. Numeric Types
        b. Sequence Types
        c. Mapping Type
        d. Set Types
        e. Boolean Type
        f. None type

In [ ]:
a = 5.0                               #data type is implicitly set to integer
print(a, " is of type", type(a))

5.0  is of type <class 'float'>

In [ ]:
a = 2.5                            #data type is changed to float
print(a, " is of type", type(a))

2.5  is of type <class 'float'>

In [ ]:
a = 1 + 2j                          #data type is changed to complex number
print(a, " is complex number?")
print(isinstance(1+2j, complex))

(1+2j)  is complex number?
True

In [ ]:
print(isinstance(1+2j, int))

False

In [ ]:
# Assigning int values to x
x = 10

# Assgining float values to y
y = 3.14

# Assigning complex numbers
z = 2 + 3j

# Strings

strings are sequences of characters enclosed in either single quotes (') or double quotes ("). Strings are one of the fundamental data types, and Python provides a rich set of operations and methods for working with them.

In [ ]:
# Using single quotes
single_quoted = 'Hello, 1+2j World!'
print(type(single_quoted))

<class 'str'>

In [ ]:
# Using double quotes
double_quoted = "Python Programming"
print(type(double_quoted))

<class 'str'>

In [ ]:
# Using Triple quotes
triple_quoted = '''Python Programming'''
print(type(triple_quoted))

<class 'str'>

In [ ]:
multiline_string = '''This is a
multiline
string.'''

print(multiline_string)

This is a
multiline
string.

In [ ]:
# String Indexing
my_string = "Python"
print(my_string[0])  # P
print(my_string[2])  # t
print(my_string[20]) # Out of Index

P
t

IndexError: string index out of range

In [ ]:
# String Slicing
my_string = "Python"
print(my_string[1:4])  # yth

yth

In [ ]:
print(my_string[2:5])

tho

In [ ]:
print(my_string[2:-1])

tho

In [ ]:
# String Concatenation
str1 = "Hello"
str2 = "World"
concatenated_str = str1 + ", " + str2
print(concatenated_str)  # Hello, World

Hello, World

In [ ]:
str3 = 10
concatenated_str = str1 + ", " + str2 + str3

TypeError: can only concatenate str (not "int") to str

Common String Methods:

1. len(): Returns the length of a string.
2. lower(), upper(): Converts a string to lowercase or uppercase.
3. strip(): Removes leading and trailing whitespaces.
4. replace(): Replaces a substring with another substring.
5. split(): Splits a string into a list of substrings based on a delimiter.
6. find(), index(): Finds the index of a substring in the string.

In [ ]:
my_string = "Hello, World!"
print(len(my_string))

13

In [ ]:
print(my_string.lower())

hello, world!

In [ ]:
print(my_string.upper())

HELLO, WORLD!

In [ ]:
print(my_string.replace('o', '*'))

Hell*, W*rld!

In [ ]:
my_string = "         Hello, World!        "
print(my_string)
print(my_string.strip())

         Hello, World!
Hello, World!

In [ ]:
print(my_string.split(" "))

['', '', '', '', '', '', '', '', '', 'Hello,', 'World!', '', '', '', '', '', '', '', '']

In [ ]:
my_string = "    Hello, World!    "
print(len(my_string))
print(my_string.strip())
print(my_string.lower())
print(my_string.replace('o', '*'))

# Lists

a list is a versatile and mutable data structure that can hold a collection of elements. Lists are defined by enclosing the elements within square brackets ([]).

In [ ]:
my_list = [1, 2, 3, 4, 5]

In [ ]:
my_list2 = ['a', 10, 2.45, "balaji"]
print(my_list2)

['a', 10, 2.45, 'balaji']

In [ ]:
# Accessing elements
print(my_list[0])  # 1

print(my_list2[2])  # 3

1
2.45

In [ ]:
my_list[0] = 5 # Lists are mutable and value can be changed.
print(my_list)

[5, 2, 3, 4, 5]

In [ ]:
my_list[4] = "balaji" # Lists are mutable and value can be changed.
print(my_list)

[5, 2, 3, 4, 'balaji']

In [ ]:
# List Slicing
sublist = my_list[1:4]
print(sublist)  # [2, 3, 4]

[2, 3, 4]

In [ ]:
print(my_list)

[5, 2, 3, 4, 'balaji']

In [ ]:
# List reverse
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print(my_list)

[5, 4, 3, 2, 1]

In [ ]:
my_list = [1, 2, 3, 4, 5]
reversed_list = my_list[::-1]
print(reversed_list)

[5, 4, 3, 2, 1]

In [ ]:
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
# Modifying lists
my_list[1] = 10
my_list.append(6)
my_list.remove(3)
print(my_list)  # [1, 10, 4, 5, 6]

[1, 10, 4, 5, 6]

In [ ]:
# List concatenation
list1 = [1, 2, 3]
list2 = [3, 5, 6]
combined_list = list1 + list2
print(combined_list)

[1, 2, 3, 3, 5, 6]

In [ ]:
# List repetiton
repeated_list = [0] * 30
print(repeated_list)  # [0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# Len of list
print(my_list)
length = len(my_list)
print(length)  # 5

[1, 10, 4, 5, 6]
5

In [ ]:
# Nested List
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9], ['1', 2, 'Welcome']]
print(nested_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], ['1', 2, 'Welcome']]

In [ ]:
nested_list[2][1]

8

In [ ]:
nested_list[1][2]

6

In [ ]:
print(my_list)

[1, 10, 15, 5, 6, 7, 7]

In [ ]:
my_list.append(7)
print(my_list)

my_list.insert(2, 15)
print(my_list)

my_list.pop(3)
print(my_list)

my_list.remove(4)
print(my_list)

[1, 10, 15, 5, 6, 7, 7, 7]
[1, 10, 15, 15, 5, 6, 7, 7, 7]
[1, 10, 15, 5, 6, 7, 7, 7]

ValueError: list.remove(x): x not in list

# List comprehension

new_list = [expression for item in iterable if condition]

In [ ]:
squares = [x**2 for x in range(5)]
squares

[0, 1, 4, 9, 16]

# Tuples

1. a tuple is a collection of ordered and immutable elements. Tuples are similar to lists, but the key difference is that once a tuple is created, its elements cannot be changed or modified. Tuples are defined using parentheses ().

2. Any time you need to store a sequence of data like a list, but don't need the mutability of a list, a tuple is appropriate. They're for when you know exactly how many elements you need to store and what those elements are ahead of time

3. Coordinates in Geographic Information Systems (GIS): Tuples can represent coordinates (latitude, longitude) in GIS applications.
For example: coordinates = (37.7749, -122.4194) representing the coordinates of San Francisco.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple

(1, 2, 3, 4, 5)

In [ ]:
tuple2 = (1,2.5,"Balaji", 2+3j, [1,5.78,"data"])
tuple2

(1, 2.5, 'Balaji', (2+3j), [1, 5.78, 'data'])

In [ ]:
print(tuple2[0])  # 1
print(tuple2[2])  # 3

1
Balaji

In [ ]:
type(tuple2[1:4])

tuple

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)

In [ ]:
my_tuple[0] = 10
my_tuple

TypeError: 'tuple' object does not support item assignment

In [ ]:
my_list[0] = 10
my_list

[10, 2, 3, 4, 5]

In [ ]:
# Unpack Tuples
x, y, z = (1,2,3)
print(x, y, z)

1 2 3

In [ ]:
# Single element tuple, trailing comma is required.
single_element_tuple = (42,)
print(type(single_element_tuple))

<class 'tuple'>

In [ ]:
len(my_tuple)

5

In [ ]:
my_tuple = (1, 2, 3, 4, 2, 5,2)
count_of_2 = my_tuple.count(2)
print(count_of_2)

3

In [ ]:
index_of_4 = my_tuple.index("balaji")
print(index_of_4)

ValueError: tuple.index(x): x not in tuple

In [ ]:
# Concatenation

tuple1 = (1,2,3, "balaji")
tuple2 = (2,4,5)

print(tuple1+tuple2)

(1, 2, 3, 'balaji', 2, 4, 5)

In [ ]:
my_tuple = ('apple', 'banana', 'cherry', 'date', 'elderberry')
subset_tuple = my_tuple[1:4]  # Create a new tuple with elements from index 1 to 3
print(subset_tuple)

In [ ]:
my_tuple = ('a', 'b', 'c', 'd', 'e', 'f', 'g')

print(my_tuple[-3])        # Access the last element ('g')

e

In [ ]:
print(my_tuple[:3])         # Create a new tuple with elements from the beginning to index 2 ('a', 'b', 'c')

('a', 'b', 'c')

In [ ]:
print(my_tuple[2:])         # Create a new tuple with elements from index 2 to the end ('c', 'd', 'e', 'f', 'g')

('c', 'd', 'e', 'f', 'g')

In [ ]:
# Comment down the answer to this piece.
my_tuple = ('a', 'b', 'c', 'd', 'e', 'f', 'g')
print(my_tuple[-1])
print(my_tuple[::-1])
print(my_tuple[-1::-2])

# Sets

1. a set is an unordered and mutable collection of unique elements. Sets are defined by enclosing elements within curly braces {}
2. Sets in Python are particularly useful when you need to represent an unordered collection of unique elements. They excel in scenarios where uniqueness and order are not significant, and the primary concern is membership testing and operations like union, intersection, and difference.

# Real Life Example

1. Consider a scenario where you are developing an online shopping cart system, and you want to keep track of the unique items that a user has added to their cart.
2. With a list or a tuple, duplicate items can be present in the shopping cart, and you may need additional logic to filter out duplicates.
3. With a set, duplicate items are automatically removed, ensuring that the cart only contains unique items.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set

{1, 2, 3, 4, 5}

In [ ]:
type(my_set)

set

In [ ]:
another_set = set([3, 3, 4, 5, 6, 7]) # Repeated elements while declarign
another_set

{3, 4, 5, 6, 7}

In [ ]:
# Set is an unordered ( No index )
another_set[0]

TypeError: 'set' object is not subscriptable

1. add(): Adds an element to the set.
2. update(): Adds multiple elements to the set.
3. remove(): Removes a specified element. Raises an error if the element is not present.
4. discard(): Removes a specified element if it is present.
5. pop(): Removes and returns an arbitrary element. Raises an error if the set is empty.

In [ ]:
my_set

{1, 2, 3, 4, 5}

In [ ]:
my_set.add(6)
my_set

{1, 2, 3, 4, 5, 6}

In [ ]:
my_set.update({7, 8, 9})
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
my_set.update([7, 8, 9, 10])
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
my_set.remove(13)
my_set

KeyError: 13

In [ ]:
my_set.discard(13)
my_set

{1, 2, 4, 5, 6, 7, 9, 10}

The discard() method removes the specified item from the set.

This method is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

In [ ]:
popped_element = my_set.pop()
popped_element

1

In [ ]:
my_set

{2, 4, 5, 6, 7, 9, 10}

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

In [ ]:
set1.union(set2)

{1, 2, 3, 4, 5, 6}

In [ ]:
set1.intersection(set2)

{3, 4}

In [ ]:
set1.difference(set2)

{1, 2}

In [ ]:
# Initial sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Using difference_update method
set1.difference_update(set2)
print("After difference_update, set1:", set1)

After difference_update, set1: {1, 2}

In [ ]:
# Resetting sets for the next example
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Using -= operator (difference)
set3 = set1 - set2
print("After difference using -= operator, set1:", set3)

After difference using -= operator, set1: {1, 2}

In [ ]:
set1

{1, 2, 3, 4, 5}

In [ ]:
# Resetting sets for the next example
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Using -= operator (difference)
set3 = set1 - set2
print("After difference using -= operator, set3:", set3)
print("= set1:", set1)

After difference using -= operator, set3: {1, 2}
= set1: {1, 2, 3, 4, 5}

In [ ]:
set1, set2

In [ ]:
# Initial sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Using difference_update method
set1.intersection_update(set2)
print("After intersection_update, set1:", set1)

After intersection_update, set1: {3, 4, 5}

In [ ]:
set1, set2

In [ ]:
union_set = set1 | set2 # union
intersection_set = set1 & set2 #intersection
difference_set = set1 - set2 #difference

In [ ]:
my_set

In [ ]:
set1, set2

({3, 4, 5}, {3, 4, 5, 6, 7})

In [ ]:
my_set.clear() # Removes all elements from the set.
set_copy = my_set.copy()
is_subset = set1.issubset(set2) # Tests whether another set is a subset or superset.
is_subset

True

# Dictionaries

a dictionary is collection of key-value pairs. Each key in a dictionary must be unique, and it is associated with a specific value. Dictionaries are defined by enclosing key-value pairs within curly braces {}

2. Dictionary items are ordered, changeable, and does not allow duplicates.

3. Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

4. Dictionaries cannot have two items with the same key

In [ ]:
my_dict = {"name": "John", "age": 30, "city": "New York", "colors": ["red", "white", "blue"], 1:10}
# Values can be any datatype
my_dict

{'name': 'John',
 'age': 30,
 'city': 'New York',
 'colors': ['red', 'white', 'blue'],
 1: 10}

In [ ]:
dict1 = {2:1}
print(type(dict1))

<class 'dict'>

In [ ]:
my_dict = {"name": "John", "age": 30, ["city","balu"]: "New York", "colors": ["red", "white", "blue"]}
# Values can be any datatype
my_dict

TypeError: unhashable type: 'list'

In [ ]:
len(my_dict)

5

In [ ]:
# Nested Dict
my_dict1 = {1: 'balaji', 2: 'is',
        3: {'A': 'data scientist', 'B': 'hello', 'C': 'world'}}

my_dict1

{1: 'balaji', 2: 'is', 3: {'A': 'data scientist', 'B': 'hello', 'C': 'world'}}

In [ ]:
# The dict() Constructor
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [ ]:
keys = ['name', 'age', 'city', 'colors'] #keys
values = ['John', 30, 'New York', ["red", "white", "blue"]] #values

new_dict = dict(zip(keys, values))
new_dict

{'name': 'John',
 'age': 30,
 'city': 'New York',
 'colors': ['red', 'white', 'blue']}

In [ ]:
print(my_dict["name"])  # John
print(my_dict["age"])   # 30

John
30

In [ ]:
my_dict

{'name': 'John',
 'age': 30,
 'city': 'New York',
 'colors': ['red', 'white', 'blue'],
 1: 10}

In [ ]:
my_dict["gender"] = "Male"
my_dict

{'name': 'John',
 'age': 30,
 'city': 'New York',
 'colors': ['red', 'white', 'blue'],
 1: 10,
 'gender': 'Male'}

In [ ]:
my_dict["age"] = 31         # Modifying the value for an existing key
my_dict

{'name': 'John',
 'age': 31,
 'city': 'New York',
 'colors': ['red', 'white', 'blue'],
 1: 10,
 'gender': 'Male'}

In [ ]:
removed_value = my_dict.pop("city") # Removes the key and returns its value. Raises a KeyError if the key is not found.
removed_value

'New York'

In [ ]:
my_dict

{'name': 'John',
 'age': 31,
 'colors': ['red', 'white', 'blue'],
 1: 10,
 'gender': 'Male'}

In [ ]:
print(my_dict.get("age"))

31

In [ ]:
removed_item = my_dict.popitem() # Removes and returns an arbitrary key-value pair as a tuple. Raises a KeyError if the dictionary is empty.

In [ ]:
removed_item

('gender', 'Male')

In [ ]:
my_dict

{'name': 'John', 'age': 31, 'colors': ['red', 'white', 'blue'], 1: 10}

In [ ]:
del my_dict["age"] #  Removes the key-value pair for a specified key.
print(my_dict)

{'name': 'John', 'colors': ['red', 'white', 'blue'], 1: 10}

In [ ]:
my_dict.clear() # Removes all key-value pairs from the dictionary.
print(my_dict)

{}

1. keys(): Returns a view of all keys in the dictionary.
2. values(): Returns a view of all values in the dictionary.
3. items(): Returns a view of all key-value pairs as tuples.
4. get(key, default): Returns the value for a given key, or a default value if the key is not present.
5. update(dictionary): Updates the dictionary with key-value pairs from another dictionary.

In [ ]:
my_dict = {"name": "John", "age": 30, "city": "New York", "colors": ["red", "white", "blue"], 1:10}
# Values can be any datatype
my_dict

{'name': 'John',
 'age': 30,
 'city': 'New York',
 'colors': ['red', 'white', 'blue'],
 1: 10}

In [ ]:
keys_view = my_dict.keys()
keys_view

dict_keys(['name', 'age', 'city', 'colors', 1])

In [ ]:

values_view = my_dict.values()
values_view

dict_values(['John', 30, 'New York', ['red', 'white', 'blue'], 10])

In [ ]:

items_view = my_dict.items()
items_view

dict_items([('name', 'John'), ('age', 30), ('city', 'New York'), ('colors', ['red', 'white', 'blue']), (1, 10)])

In [ ]:
my_dict.update({"city": "London", "country": "UK"})
my_dict

{'name': 'John',
 'age': 30,
 'city': 'London',
 'colors': ['red', 'white', 'blue'],
 1: 10,
 'country': 'UK'}

# Conversion of data types

1. Implicit Type Conversion (Coercion)
2. Explicit Type Conversion

Python automatically performs some type conversions when operators with different types are used together. For example, adding an integer and a float results in a float.
why ony float? why not int in below example?

In [ ]:
x = 5      # integer
y = 2.8   # float
print(x, type(x))
print(y, type(y))

result = x + y  # the result will be a float (implicit conversion)
print(result, type(result))

5 <class 'int'>
2.8 <class 'float'>
7.8 <class 'float'>

Explicit Type Conversion (Type Casting):


1. data type is manually changed by the user as per their requirement.
2. here is a risk of data loss since we are forcing an expression to be changed in some specific data type

In [ ]:
num = "50"
print(type(num))
print(num+50)

<class 'str'>

TypeError: can only concatenate str (not "int") to str

In [ ]:
num = int(num)
print(num+50)

100

In [ ]:
type(num)

int

In [ ]:
x = 5.6 # Float
integer_x = int(x)  # integer_x will be 5
print(integer_x, type(integer_x))

5 <class 'int'>

In [ ]:
int('10a') # Conversion must contain compatable values

ValueError: invalid literal for int() with base 10: '10a'

# Data Structure Conversions

In [ ]:
# Int to String
z = 42
string_z = str(z)   # string_z will be "42"
print(type(string_z))

<class 'str'>

In [ ]:
# initializing string
s = 'Balaji Chippada'

# printing string converting to tuple
c = tuple(s)
print ("After converting string to tuple : ",end="")
print (c)

After converting string to tuple : ('B', 'a', 'l', 'a', 'j', 'i', ' ', 'C', 'h', 'i', 'p', 'p', 'a', 'd', 'a')

In [ ]:
# printing string converting to set
c = set(s)
print ("After converting string to set : ",end="")
print (c)

After converting string to set : {'C', ' ', 'd', 'B', 'j', 'i', 'h', 'p', 'l', 'a'}

In [ ]:
# printing string converting to list
c = list(s)
print ("After converting string to list : ",end="")
print (c)

After converting string to list : ['B', 'a', 'l', 'a', 'j', 'i', ' ', 'C', 'h', 'i', 'p', 'p', 'a', 'd', 'a']

In [ ]:
tuple_example = (1, 2, 'balaji')
list_example = list(tuple_example)  # list_example will be [1, 2, 3]
print(list_example)

[1, 2, 'balaji']

In [ ]:
list_example = [1, 2, 'balaji']
tuple_example = tuple(list_example)  # list_example will be [1, 2, 3]
print(tuple_example)

(1, 2, 'balaji')

In [ ]:
# initializing integers
a = 1
b = 2

# printing integer converting to complex number
c = complex(1,2)
print ("After converting integer to complex number : ",end="")
print (c)

After converting integer to complex number : (1+2j)

In [ ]:
# initializing tuple
tup = (('Balaji', 'good') ,('Teacher', 'yes'), ('or', 'No'))
# printing tuple converting to expression dictionary
c = dict(tup)
print ("After converting tuple to dictionary : ",end="")
print (c)

After converting tuple to dictionary : {'Balaji': 'good', 'Teacher': 'yes', 'or': 'No'}

In [ ]:
value = 0
bool_value = bool(value)  # bool_value will be False
print(bool_value)

False

In [ ]:
list("data ipyarmid")       #convert String to list using list() method

['d', 'a', 't', 'a', ' ', 'i', 'p', 'y', 'a', 'r', 'm', 'i', 'd']