# Operators

Operators are special symbols or keywords that perform operations on operands. Operands can be variables, values, or expressions. Python supports a variety of operators, and they can be categorized into several types
1. Arithmetic operators
    
2. Comparison (Relational) operators

3. Logical (Boolean) operators

4. Bitwise operators

5. Assignment operators

6. Special operators

## Arithmetic Operators:


1. "+" (Addition)
2. "-" (Subtraction)
3. "*" (Multiplication)
4. "/" (Division)
5. "%" (Modulus - remainder of the division)
6. "**" (Exponentiation)
7. "//" (Floor Division - division rounded down to the nearest whole number)

In [ ]:
a = 10
b = 3

print(a + b)   # 13
print(a - b)   # 7
print(a * b)   # 30
print(a / b)   # 3.3333333333333335
print(a % b)   # 1
print(a ** b)  # 1000
print(a // b)  # 3

13
7
30
3.3333333333333335
1
1000
3

# Comparison Operators:

1. == (Equal to)
2. != (Not equal to)
3. < (Less than)
4. '>' (Greater than)
5. <= (Less than or equal to)
6. '>=' (Greater than or equal to)

In [ ]:
x = 5
y = 10

print(x == y)  # False
print(x != y)  # True
print(x < y)   # True
print(x > y)   # False
print(x <= y)  # True
print(x >= y)  # False

False
True
True
False
True
False

# Logical Operators:

1. and (Logical AND)
2. or (Logical OR)
3. not (Logical NOT)

In [ ]:
a = True
b = False

print(a and b)  # False
print(a or b)   # True
print(not a)    # False

False
True
False

In [ ]:
a = 5
b = 3

print(a<10 or b>10)

True

# Assignment Operators:

= (Assigns the value on the right to the variable on the left)
+=, -=, *=, /=, %= (Compound assignment operators)

In [ ]:
a = 10
b = 3

# Simple Assignment
c = a

# Addition Assignment (+=)
b += 5  # Equivalent to b = b + 5

# Subtraction Assignment (-=)
a -= 2  # Equivalent to a = a - 2

# Multiplication Assignment (*=)
c *= 3  # Equivalent to c = c * 3

# Division Assignment (/=)
b /= 2  # Equivalent to b = b / 2

# Modulus Assignment (%=)
a %= 4  # Equivalent to a = a % 4

# Floor Division Assignment (//=)
c //= 2  # Equivalent to c = c // 2

# Exponentiation Assignment (**=)
b **= 2  # Equivalent to b = b ** 2

print("a =", a)  # 2
print("b =", b)  # 64
print("c =", c)  # 15

a = 0
b = 16.0
c = 15

# Special Operators

**is and is not** are the identity operators in Python.

They are used to check if two values (or variables) are located on the same part of the memory.

In [ ]:
a = 51
b = 5
print(a is b)    #5 is object created once both a and b points to same object
#check is not

False

In [ ]:
l1 = [1, 2, 3]
l2 = [1, 2, 3]
print(l1 is l2)

False

In [ ]:
print(id(l1), id(l2))

135606190914944 135606207224896

In [ ]:
s1 = "Satish"
s2 = "Satish"
print(s1 is not s2)

False

# Bitwise Operators:

& (Bitwise AND)
| (Bitwise OR)
^ (Bitwise XOR)
~ (Bitwise NOT)
<< (Left shift) >> (Right shift)

In [ ]:
a = 5

bin(a)

'0b101'

In [ ]:
int('0b000000101',base = 2)

5

In [ ]:
a = 5  # 0b0101 in binary
b = 3  # 0b0011 in binary

result = a & b  # Binary AND: 0b0001 (1 in decimal)

In [ ]:
a = 5  # 0b0101 in binary
b = 3  # 0b0011 in binary

result = a | b  # Binary OR: 0b0111 (7 in decimal)
result

7

In [ ]:
a = 5  # 0b0101 in binary
b = 3  # 0b0011 in binary

result = a ^ b  # Binary XOR: 0b0110 (6 in decimal)

In [ ]:
a = 5
print(bin(a))

result = ~a
result

0b101

-6

In [ ]:
a = 5  # 0b0101 in binary

result = a << 1  # Left shift by 1: 0b1010 (10 in decimal)
result

10

In [ ]:
a = 5  # 0b0101 in binary

result = a >> 1  # Right shift by 1: 0b0010 (2 in decimal)
result

2