Functions in Python are a fundamental building block of the language. They allow you to create reusable code segments that can perform a specific task, which can then be utilized to build more complex programs. Let's explore functions in detail:

## Why Functions?
1. Modularity: Functions help to break down complex processes into smaller, manageable, and modular pieces.
2. Reusability: Once a function is defined, it can be used multiple times throughout a program without needing to rewrite code.
3. Organization: Functions help to organize code into logical groups.
4. Maintenance: If a change is required, you only need to update the code in one place, making maintenance easier.

# Syntax

In [ ]:
def function_name(parameters):
    # Do something with the parameters
    # ...
    return result # Return is optional

1. keyword "def" marks the start of function header

2. Parameters (arguments) through which we pass values to a function. These are optional

3. A colon(:) to mark the end of funciton header

4. Doc string describe what the function does. This is optional

5. "return" statement to return a value from the function. This is optional

In [ ]:
print("Hello World")
print("Balaji is a great teacher")

Hello World
Balaji is a great teacher

In [ ]:
print("Hello World")
print("Balaji is a great teacher")

Hello World
Balaji is a great teacher

In [ ]:
print("Hello World")
print("Balaji is a great teacher")

Hello World
Balaji is a great teacher

In [ ]:
print("Hello World")
print("Balaji is a great teacher")

Hello World
Balaji is a great teacher

In [ ]:
def printworld():
    print("Hello World")
    print("Balaji is a great teacher")

In [ ]:
printworld()

Hello World
Balaji is a great teacher

In [ ]:
printworld()

Hello World
Balaji is a great teacher

In [ ]:
a = 10
b = 5

print(a+b)

15

In [ ]:
a = 20
b = 40

print(a+b)

60

# Parameters vs. Arguments
1. Parameters: These are the variables listed inside the parentheses in the function definition.
2. Arguments: These are the actual values passed to the function when it is called.

In [ ]:
def add_numbers(a, b):
    result = a + b
    print(result)

# Use the function
add_numbers(10, 5)

15

In [ ]:
add_numbers(20,40)

60

# Return in functions

In [ ]:
# Using return
def add_numbers(a, b):
    result = a + b
    return result

# Use the function
sum_result = add_numbers(10, 5)
print(sum_result)  # This will output 15

15

In [ ]:
add_numbers(10, 5)

15

In [ ]:
# Use the function
sum_result = add_numbers(10, 2)
print(sum_result)

12

In [ ]:
def get_sum(lst):
    """
    This function returns the sum of all the elements in a list
    """
    #initialize sum
    sum = 0

    #iterating over the list
    for num in lst:
        sum += num
    return sum

In [ ]:
s = get_sum([1, 2, 3, 4]) # print(get_sum([1, 2, 3, 4]))
print(s)

10

In [ ]:
s = get_sum([3, 10, 45, 20]) # print(get_sum([1, 2, 3, 4]))
print(s)

78

# Returning multiple Values

In [ ]:
def get_min_max(numbers):
    return min(numbers), max(numbers)

In [ ]:
a = get_min_max([1, 2, 3, 4, 5])
print(a)

(1, 5)

In [ ]:
a[0]

1

In [ ]:
a[1]

5

In [ ]:
minimum, maximum = get_min_max([1, 2, 3, 4, 5])
print(minimum, maximum)  # Outputs: 1 5

1 5

# Scope of Variables
Variables defined within a function are scoped to that function and are not accessible outside of it. This is known as local scope:

In [ ]:
def multiply(x, y):
    result = x * y
    print(result)  # 'result' is local to the multiply function
    return result

In [ ]:
print(multiply(2,3))

6
6

In [ ]:
print(result)

NameError: name 'result' is not defined

In [ ]:
print(result)  # This would result in an error, as 'result' is not defined outside of the function

NameError: name 'result' is not defined

In [ ]:
global_var = "This is global variable"

def test_life_time():
    """
    This function test the life time of a variables
    """
    local_var = "This is local variable"
    print(local_var)       #print local variable local_var

    print(global_var)      #print global variable global_var

In [ ]:
#calling function
test_life_time()

This is local variable
This is global variable

In [ ]:
#print global variable global_var
print(global_var)

This is global variable

In [ ]:
#print local variable local_var
print(local_var)

NameError: name 'local_var' is not defined

# Docstrings

Documentation of functions

In [ ]:
def add(a, b):
    """Return the sum of a and b."""
    return a + b

In [ ]:
#print doc string
print(add.__doc__)

Return the sum of a and b.

In [ ]:
a = {'city' : 'bangalore','age' : '30'}
a['bangalore']

KeyError: 'bangalore'

# Return Key from Value in dictionaries

In [ ]:
def get_key_from_value(d, val):
    keys = [k for k, v in d.items() if v == val]
    print(keys)
    if keys:
        return keys[0]
    return None

In [ ]:
a = {'city' : 'bangalore','age' : '30'}
key = get_key_from_value(a, 'bangalore')
print(key)

['city']
city

# Real Life Task and how to handle.

Let's tackle a simple real-life task: organizing a small personal library. We'll write functions to add a book, remove a book, and list all books. This will demonstrate the use of functions to manage a collection.

-- Task Description
We have books in our personal library, each with a title and an author. We want to be able to:

1. Add a new book to the library.
2. Remove a book from the library by title.
3. List all books currently in th

In [ ]:
# Our personal library represented as a list of dictionaries
library = []

# Function to add a book to the library
def add_book(title, author):
    library.append({'title': title, 'author': author})
    print(f"'{title}' by {author} has been added to the library.")

In [ ]:
library

[]

In [ ]:
# Adding books
add_book("The Great Gatsby", "F. Scott Fitzgerald")

'The Great Gatsby' by F. Scott Fitzgerald has been added to the library.

In [ ]:
library

[{'title': 'The Great Gatsby', 'author': 'F. Scott Fitzgerald'}]

In [ ]:
add_book("1984", "George Orwell")

'1984' by George Orwell has been added to the library.

In [ ]:
add_book("To Kill a Mockingbird", "Harper Lee")

'To Kill a Mockingbird' by Harper Lee has been added to the library.

In [ ]:
library

[{'title': 'The Great Gatsby', 'author': 'F. Scott Fitzgerald'},
 {'title': '1984', 'author': 'George Orwell'},
 {'title': 'To Kill a Mockingbird', 'author': 'Harper Lee'},
 {'title': 'To Kill a Mockingbird', 'author': 'Harper Lee'}]

In [ ]:
# Function to list all books in the library
def list_books():
    if library:
        print("Books in the library:")
        print("this is great")
        for book in library:
            print(f"{book['title']} by {book['author']}")
    else:
        print("The library is currently empty.")

# Listing books
list_books()

Books in the library:
this is great
To Kill a Mockingbird by Harper Lee
To Kill a Mockingbird by Harper Lee

In [ ]:
# Function to remove a book from the library by title
def remove_book(title):
    global library
    library = [book for book in library if book['title'] != title]
    print(f"'{title}' has been removed from the library.")

# Removing a book
remove_book("1984")

'1984' has been removed from the library.

In [ ]:
remove_book("The Great Gatsby")

'The Great Gatsby' has been removed from the library.

In [ ]:
# Listing books again to see the changes
list_books()

Books in the library:
To Kill a Mockingbird by Harper Lee
To Kill a Mockingbird by Harper Lee

# Full Code in a single block

In [ ]:
# Our personal library represented as a list of dictionaries
library = []

# Function to add a book to the library
def add_book(title, author):
    library.append({'title': title, 'author': author})
    print(f"'{title}' by {author} has been added to the library.")

# Function to remove a book from the library by title
def remove_book(title):
    global library
    library = [book for book in library if book['title'] != title]
    print(f"'{title}' has been removed from the library.")

# Function to list all books in the library
def list_books():
    if library:
        print("Books in the library:")
        for book in library:
            print(f"{book['title']} by {book['author']}")
    else:
        print("The library is currently empty.")

In [ ]:
# Let's use the functions

# Adding books
add_book("The Great Gatsby", "F. Scott Fitzgerald")
add_book("1984", "George Orwell")
add_book("To Kill a Mockingbird", "Harper Lee")

# Listing books
list_books()

# Removing a book
remove_book("1984")

# Listing books again to see the changes
list_books()