Names between the parentheses are called parameters, and the actual values you provide when you call the function are called arguments. Python has several types of arguments that a function can accept:

# Positional Arguments

In [ ]:
# These are arguments that need to be included in the proper position or order.

def add(a, b):
    print("Value of a is : ", a)
    print("Value of b is : ", b)
    return a + b

print(add(2, 3))

Value of a is :  2
Value of b is :  3
5

In [ ]:
print(add(3, 2))

Value of a is :  3
Value of b is :  2
5

In [ ]:
print(add(a = 2, b = 3))

Value of a is :  2
Value of b is :  3
5

In [ ]:
print(add(b = 3,a = 2))

Value of a is :  2
Value of b is :  3
5

# Keyword Arguments

These are arguments passed to a function by explicitly specifying the name of the parameter and the corresponding value. They can be put in any order because Python interprets the names.

In [ ]:
def person_info(name, age):
    return f"{name} is {age} years old."

print(person_info(30, "Alice"))

30 is Alice years old.

In [ ]:
print(person_info( "Alice", 30))

Alice is 30 years old.

In [ ]:
print(person_info(age=30, name="Alice"))

Alice is 30 years old.

# Default Arguments

These are arguments that take a default value if no argument value is passed during the function call.

In [ ]:
def person_info(name, age):
    return f"{name} is {age} years old."

print(person_info(30, "Alice"))

30 is Alice years old.

In [ ]:
print(person_info(30))

TypeError: person_info() missing 1 required positional argument: 'age'

In [ ]:
def person_info(name, age=27):
    return f"{name} is {age} years old."

print(person_info(name="Bob"))

Bob is 27 years old.

In [ ]:
print(person_info("balaji"))

balaji is 27 years old.

In [ ]:
print(person_info("balaji"))

balaji is 27 years old.

In [ ]:
print(person_info(name="Bob", age=50))

Bob is 50 years old.

# Arbitrary Arguments

Sometimes, you might not know how many arguments will be passed into your function. Python allows you to handle this kind of situation through arbitrary arguments.

Arbitrary Positional Arguments (*args): They are often used when you want to pass a variable number of non-keyword arguments to a function.

In [ ]:
def add_all_numbers(*balaji):
    print(balaji)
    return sum(balaji)

print(add_all_numbers(1, 2, 3, 4))  # Outputs: 10

(1, 2, 3, 4)
10

In [ ]:
def print_all(*args):
    for arg in args:
        print(arg)

# Calling function with three arguments
print_all('apple', 'banana', 'cherry')

apple
banana
cherry

In [ ]:
# Calling function with five arguments
print_all('dog', 'elephant', 'fox', 'giraffe', 'hippo')

In [ ]:
def print_all(*balaji):
    print("Parameter balaji contains - ", balaji)
    for arg in balaji:
        print(arg)

# Calling function with three arguments
print_all('apple', 'banana', 'cherry')

Parameter balaji contains -  ('apple', 'banana', 'cherry')
apple
banana
cherry

1. Arbitrary Keyword Arguments (**kwargs): They are used when you want to pass a variable number of keyword arguments to a function.
2. Arbitrary keyword arguments allow you to handle named arguments that you have not predefined in your function.

In [ ]:
def person_info(**kwargs):
    print(kwargs)
    info = ""
    for key, value in kwargs.items():
        info += f"{key} is {value}. "
    return info

In [ ]:
print(person_info(name="Carol", age=28, city="New York"))  # Outputs: name is Carol. age is 28. city is New York.

{'name': 'Carol', 'age': 28, 'city': 'New York'}
name is Carol. age is 28. city is New York.

In [ ]:
def introduce_yourself(**kwargs):
    for key, value in kwargs.items():
        print(f"{key} is {value}")

# Calling function with three named arguments
introduce_yourself(Name='John', Age=25, Profession='Engineer')

Name is John
Age is 25
Profession is Engineer

In [ ]:
# Calling function with additional named arguments
introduce_yourself(Name='Alice', Age=30, Profession='Artist', Hobby='Painting')

Name is Alice
Age is 30
Profession is Artist
Hobby is Painting

# Example Mixes both

In [ ]:
def setup_profile(name, email, *args, **kwargs):
    print(f"Name: {name}")
    print(f"Email: {email}")
    for arg in args:
        print(arg)
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [ ]:
# Calling the function with both arbitrary positional and keyword arguments
setup_profile(
    'Jane Doe', 'jane@example.com',
    'Loves Python', 'Writes Code',
    Age=28, Occupation='Developer', Hobby='Cycling'
)

Name: Jane Doe
Email: jane@example.com
Loves Python
Writes Code
Age: 28
Occupation: Developer
Hobby: Cycling

# Unpacking Arguments

In [ ]:
def person_info(name, age, city):
    return f"{name} is {age} years old and lives in {city}."

In [ ]:
person_info("bALAJI", 27, "PUNE")

'bALAJI is 27 years old and lives in PUNE.'

In [ ]:
details = ["bALAJI", 27, "PUNE"]

# Unpacking the list into positional arguments
print(person_info(*details))  # Outputs: Dave is 42 years old and lives in Seattle.

bALAJI is 27 years old and lives in PUNE.

In [ ]:
# Unpacking a dictionary into keyword arguments
details_dict = {'name': 'Eve', 'age': 29, 'city': 'Boston'}
print(person_info(**details_dict))  # Outputs: Eve is 29 years old and lives in Boston.

Eve is 29 years old and lives in Boston.

# Real Life example

Logging is extensively used in many applications and advantages are -
1. Error Tracking
2. Performance Monitoring
3. Status check etc....

In [ ]:
import datetime

def log_message(*messages, **additional_data):
    """
    Logs a message with optional additional data.

    Args:
    *messages: Arbitrary number of messages to log.
    **additional_data: Arbitrary number of keyword arguments representing additional data to log.
    """
    # Current timestamp
    timestamp = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

    # Joining all messages into a single string
    full_message = ' | '.join(messages)

    # Creating the base log entry
    log_entry = f"{timestamp} - MESSAGE: {full_message}"

    # Adding any additional data to the log entry
    for key, value in additional_data.items():
        log_entry += f", {key.upper()}: {value}"

    # For demonstration, we'll just print the log. In a real application, you might write it to a file or a database.
    print(log_entry)

# Example usage
log_message("Application started", "No errors", urgency="low", user_id="12345")
log_message("Unexpected error occurred", error_code=500, severity="high")

2024-02-07 12:55:25 - MESSAGE: Application started | No errors, URGENCY: low, USER_ID: 12345
2024-02-07 12:55:25 - MESSAGE: Unexpected error occurred, ERROR_CODE: 500, SEVERITY: high